<div class = "accountinfo">
  <div class = "accountinfo-form">
    <div class = "accountinfo-subcontainer">
      <p> First Name: </p>
      <input class ="accountinfo-firstname-text" placeholder="First Name" value = "{{firstName}}">
    </div>
    <div class = "accountinfo-subcontainer">
      <p> Last Name: </p>
      <input class ="accountinfo-lastname-text" placeholder="Last Name" value = "{{lastName}}">
    </div>
    <div class = "accountinfo-subcontainer">
      <p> Email: </p>
      <input class ="accountinfo-email-text" placeholder="Email" value = "{{email}}">
    </div>
    <div class = "accountinfo-subcontainer">
      <p> Year: </p>
      <search ng-model="year" type="yeartype" list="yearlist"></search>
    </div>
    <div class = "accountinfo-subcontainer">
      <p> Major: </p>
      <search ng-model="major" type="majortype" list="majorlist"></search>
    </div>
    <div class = "accountinfo-subcontainer">
      <p> Institution: </p>
      <search ng-model="institution" type="institutiontype" list="campuslist"></search>
    </div>
    <div class = "accountinfo-subcontainer">
      <a class = "accountinfo-confirmation-button btn btn-primary btn-success"> Update Info </a>
    </div>
  </div>
</div>
