<div class = "accountinfo">
  <div class = "accountinfo-form">
    <div class = "accountinfo-email">
      <p> Email: </p>
      <input class ="accountinfo-email-text" value = "{{email}}">
    </div>
    <div class = "accountinfo-firstname">
      <p> First Name: </p>
      <input class ="accountinfo-firstname-text" value = "{{firstName}}">
    </div>
    <div class = "accountinfo-lastname">
      <p> Last Name: </p>
      <input class ="accountinfo-lastname-text" value = "{{lastName}}">
    </div>
    <div class = "accountinfo-campus">
      <p> Institution: </p>
      <search ng-model="selection" type="listtype" list="testlist"></search>
    </div>
  </div>
</div>
