<div class="main-app">
  <div class="row">
    <div class="left-column col-md-8">
      <div class="row">
        <div id="search-container" class="col-md-12 dev column-element">
          <h5>What are you looking for?</h5>
          <input id="search-field" role="searchbar" placeholder="search for jobs here ... ">
          <button role="button">Search</button>
        </div>
      </div>

      <div class="row">
        <div id="nav-container" class="col-md-12 dev column-element">
          <ul id="nav-list">
            <li><a role="button" href="#/">Search</a></li>
            <li><a role="button" href="#/">Compare</a></li>
            <li><a role="button" href="#/">Profile</a></li>
            <li><a role="button" ui-sref="school-home">School Home (Click me)</a></li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div id="job-listings" class="col-md-12 column-element dev">
          <div class="job" ng-repeat="job in jobs">
            <h4 class="job-title" ng-bind="job.title"></h4>
            <p class="job-description" ng-bind="job.text"></p>
            <img class="job-image" ng-src="{{job.image}}"></img>
            <hr>
          </div>
        </div>
      </div>
    </div>

    <div class="right-column col-md-4">

    </div>
  </div>
</div>
