<div class="navigation row">

	<div class = "navigation-logo col-md-4">
		<a class = "navigation-home" ui-sref="main"> {{ subdomain }}.hire.u </a>
	</div>

	<div class = "navigation-links col-md-4 offset-md-4">
		<div class = "navigation-link-container">
			<a href="#" class = "navigation-link"> Job Postings </a>
			<a href="#" class = "navigation-link" ui-sref="department-search"> Departments </a>
			<a href="#" class = "navigation-link"> Reviews </a>
			<a href="#" class = "navigation-link"> Research </a>
		</div>
	</div>

	<!-- <div class="navigation-login col-md-4">
		<a class = "navigation-login-button btn btn-primary btn-success" ui-sref="login"> Login </a>
	</div> -->
</div>
