<div class="navigation">
	<span> <img class="logo" ng-src="images/logo.png"></img> </span>

	<!-- <button>Select<button> -->
	<button>{{ currentCampus }}</button>

	<select name="campuses" ng-model="currentCampus">
      <option ng-repeat="option in schools" value="{{option.id}}">{{option.name}}</option>
  </select>

	<a> Job Postings </a>
	<a> Departments </a>
	<a> Job Reviews </a>

	<ul class="nav-links">
		<a ui-sref="main"><li>Home</li></a>
		<a><li>About</li></a>
		<a><li>Give</li></a>
	</ul>
</div>
