body {
  background-color: #CC3333;
  margin: 0;
  padding: 0;
  height: 100%;
}
.container {
  padding-bottom: 40px;
}
.wrapper {
  min-height: 100%;
  position: relative;
}
.dev {
  background-color: #ffffff;
}
a:active {
  text-decoration: none;
}
.row {
  padding: 0px 10px 10px 10px;
}
.main-app {
  background-color: #BABABA;
  padding: 10px;
  padding-bottom: 10px;
  position: absolute;
  /*margin: 20px;*/
  top: 20px;
  left: 20px;
  right: 20px;
  /*width: 98%;*/
}
.left-column {
  /*top: 20px;*/
  /*left: 20px;*/
}
.right-column {
  height: 500px;
}
#search-container {
  height: 75px;
  width: 40%;
  text-align: center;
}
#search-field {
  width: 80%;
  margin: 0 auto;
  padding-left: 5px;
}
#nav-container {
  height: 75px;
}
#nav-list {
  list-style: none;
  line-height: 75px;
  text-align: center;
  margin-left: 50px;
}
#nav-list li {
  display: inline-block;
  padding-right: 100px;
  font-size: 24px;
}
#nav-list li a:hover {
  text-decoration: none;
}
.column-element {
  margin: 10px;
}
#job-listings {
  padding: 20px;
}
.job {

}
/* Custom page footer */
.footer {
  background-color: #312A2A;
  width: 100%;
  /*padding-top: 10px;*/
  color: #ffffff;
  border-top: 1px solid #e5e5e5;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 10px;
  font-size: 12px;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

.job-image {
  display: inline;
}
.job-description {
  display: block;
}
